body {
    margin: 0;
    padding: 0;
    margin-left: 0;
    -webkit-text-size-adjust: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
}

.header-wrap {
    overflow: hidden;
    padding-bottom: 10px;
}

.header {
    z-index: 100;
    position: fixed;
    display: flex;
    width: 100%;
    height: max-content;
    overflow: hidden;
    background: rgb(100, 110, 203);
    margin: 0;
    padding: 0;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
}

.fix-header-position {
    width: 100%;
    height: max-content;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.header-logo {
    width: 3vw;
    height: 3vw;
    margin: 0.5vw;
}

.header-AXT {
    font-size: 2vw;
    margin: 0.5vw;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(240, 240, 240);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 16px;
}

.main {
    width: calc(100vw - 392px);
}


/* ここから本文もとい左側 */

.contents-links {
    display: flex;
    background-color: rgb(100, 110, 203);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    margin: 10px;
}

.contents-thumb {
    width: 15vw;
    height: auto;
    margin: 8px;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.3));
}

.contents-explanation {
    color: rgb(240, 240, 240);
    width: calc(85vw - 464px);
    margin: 12px;
}


/* ここから記事本文にかかる装飾 */

.contents-body-wrap {
    background-color: rgb(240, 240, 240);
}

.contents-body {
    margin: 12px;
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.3));
}

.contents-body p code {
    margin: 8px;
    background-color: rgb(220, 220, 220);
}


/* ここからフッターもとい右側 */

.footer {
    background-color: rgb(240, 240, 240);
    width: 352px;
}

.phone-only {
    visibility: hidden;
}

.twitter-publish {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 16px;
    margin-right: 16px;
    visibility: visible;
}

.twitter-timeline {
    margin: 10px;
}

div.links {
    margin-left: 26px;
    margin-right: 26px;
    overflow-wrap: break-word;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

p.links {
    margin-left: 26px;
    margin-right: 26px;
    overflow-wrap: break-word;
    display: flex;
    flex-flow: row nowrap;
}

.SNS-link {
    margin: 4px;
}

.sitemap {
    list-style-type: none;
    padding: 0;
    margin: 4px;
}

.sitemap-indent {
    list-style-type: square;
    margin: 8px;
}

.copyright {
    text-align: center;
}


/* 全範囲共通 */

.size-big {
    font-size: 1vw;
}

.size-normal {
    font-size: 0.8vw;
}


/* -本文につけるいろいろ- */

#contents-body h1 {
    position: relative;
    background: rgb(80, 88, 175);
    padding: 2px 5px 2px 48px;
    color: rgb(240, 240, 240);
    border-radius: 0 20px 20px 0;
}

#contents-body h1:before {
    font-family: "Font Awesome 5 Free";
    content: "\f1eb";
    display: inline-block;
    line-height: 48px;
    position: absolute;
    padding: 0em;
    color: rgb(240, 240, 240);
    background: rgb(100, 110, 203);
    font-weight: 600;
    width: 48px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    left: -0.5em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid 3px white;
    border-radius: 50%;
}

#contents-body h2 {
    position: relative;
    padding: 2px 5px 2px 40px;
    color: #153c6e;
}

#contents-body h2:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
    background: #c9e2ff;
    color: #153c6e;
    font-size: 16px;
    border-radius: 50%;
    left: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#contents-body h3 {
    padding: 0.5em;
    color: #494949;
    background: #fffaf4;
    border-left: solid 5px rgb(100, 110, 203);
}

#contents-body h4 {
    padding: 0.5em;
    color: #494949;
    background: #fffaf4;
    border-left: solid 5px rgb(100, 110, 203);
}

#contents-body h5 {
    padding: 0.5em;
    color: #494949;
    background: #fffaf4;
    border-left: solid 5px rgb(100, 110, 203);
}

#contents-body h6 {
    padding: 0.5em;
    color: #494949;
    background: #fffaf4;
    border-left: solid 5px rgb(100, 110, 203);
}

#contents-body blockquote {
    position: relative;
    margin: 0.2em 0;
    padding: 0.1em 0.1em 0.1em 1em;
    border-left: 5px solid #CCC;
    border-radius: 2px;
}

ul {
    padding: 2px;
}

ul li {
    color: #404040;
    border-left: solid 3px rgb(100, 110, 203);
    /*左側の線*/
    margin-bottom: 2px;
    /*下のバーとの余白*/
    line-height: 1.2;
    padding: 0.2em;
    list-style-type: none!important;
    /*ポチ消す*/
}

a {
    text-decoration: none;
    color: #404040;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a:hover {
    background-color: #ddddee;
    text-decoration: underline;
    font-weight: 500;
}

#contents-body ul {
    padding: 4px;
}

#contents-body ol {
    padding-top: 4px;
}

#contents-body ul li {
    color: #404040;
    border-left: solid 3px rgb(100, 110, 203);
    /*左側の線*/
    margin-bottom: 2px;
    /*下のバーとの余白*/
    line-height: 1.2;
    padding: 0.4em;
    list-style-type: none!important;
    /*ポチ消す*/
    font-weight: bold;
}

#contents-body ol li {
    color: #404040;
    border-left: solid 3px rgb(100, 110, 203);
    /*左側の線*/
    margin-bottom: 2px;
    /*下のバーとの余白*/
    line-height: 1.2;
    padding: 0.4em;
    font-weight: bold;
}

#contents-body {
    font-weight: medium;
}

#contents-body pre {
    padding: 1em;
    /* 内側の余白 */
    margin: 0 0 1.5em;
    /* 外側の余白 */
    border: solid 1px #4d4d4d;
    /* 枠線（枠線を濃い黒に） */
    background: #25292f;
    /* 背景色（背景を黒に） */
    color: #fff;
    /* 文字色（文字を白に） */
}

#contents-body code {
    padding: 0.2em 0.3em;
    /* 内側の余白 */
    margin: 0 0.2em;
    /* 外側の余白 */
    border-radius: 5px;
    /* 角の丸み */
    background: #f1f2f3;
    /* 背景色 */
    color: #404040;
    /* 文字色 */
    font-size: 0.9em;
    /* 文字サイズ */
}

#contents-body img {
    width: 33%;
    max-width: 400px;
    height: auto;
}


/* -スマホ用- */

@media screen and (max-width: 699px) {
    /* 700px未満に適用されるCSS（スマホ用） */
    .contents {
        flex-flow: column nowrap;
        justify-content: space-between;
        margin-top: 0px;
    }
    /* ヘッダー調整 */
    .header-logo {
        width: 10vw;
        height: 10vw;
    }
    .header-AXT {
        font-size: 6vw;
    }
    /* コンテンツ幅 */
    .main {
        width: 100%;
    }
    .contents-explanation {
        width: 100%;
    }
    .contents-body {
        margin: 12px;
        width: 100%;
    }
    /* フッター調整 */
    .phone-only {
        visibility: visible;
    }
    /* 全範囲共通 */
    .size-big {
        font-size: 1.8vw;
    }
    .size-normal {
        font-size: 1.5vw;
    }
}